@use "./base/mixins.scss";
@use "./base/var.scss";

.addition {
  @include mixins.list-reset;
  padding: 0 20px;
}

.addition__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.addition__title {
  text-align: start;
  margin-bottom: 16px;
}

.addition__desctiption {
  margin: 0;
  // paragraph overflow
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
