@use "../mixins.scss";

.addition {
  @include mixins.list-reset;
  padding: 0 20px;
}

.addition__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.addition__title {
  margin: 0;
  margin-bottom: 16px;
}

.addition__desctiption {
  margin: 0;
  margin-bottom: 16px;
}
