@use "./base/mixins.scss";
@use "./base/var.scss";

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__header-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 30px;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    width: 768px;
    height: 37px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -52px;
    background: url("../img/devider-white.svg") no-repeat center;
  }
}

.advantages__title {
  margin-bottom: 37px;
}

.advantages__description {
  // paragraph overflow
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.advantages__list {
  @include mixins.list-reset;
}

@media (min-width: 640px) {
  .advantages__header-wrapper {
    padding: 0 60px;
    margin-bottom: 55px;

    &::before {
      transform: scale(0);
    }
  }

  .advantages__title {
    font-size: 21px;
  }
}

@media (min-width: 980px) {
  .advantages__header-wrapper {
    padding: 0 120px;
  }
}
