@use "./base/mixins.scss";
@use "./base/var.scss";

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__header-wrapper {
  position: relative;
  margin-bottom: 15px;
  max-width: 520px;
  padding: 0 30px;

  &::before {
    position: absolute;
    content: "";
    width: 768px;
    height: 37px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -52px;
    background: url("../../img/devider-white.svg") no-repeat center;
  }
}

.advantages__title {
  text-align: center;
  margin: 0;
  margin-bottom: 37px;
}

.advantages__description {
  text-align: center;
  margin: 0;

  // paragraph overflow
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.advantages__list {
  @include mixins.list-reset;
}

@media (min-width: 768px) {
  .advantages__header-wrapper {
    margin-bottom: 55px;

    &::before {
      transform: scale(0);
    }
  }

  .advantages__title {
    font-size: 21px;
  }
}
