@use "./base/mixins.scss";
@use "./base/var.scss";

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__devider-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 768px;
    height: 37px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
    background: url("../../img/devider-white.svg") no-repeat center;
  }
}

.advantages__main-text-wrapper {
  margin-bottom: 16px;
}

.advantages__title {
  text-align: center;
  margin: 0;
  padding: 0 25px;
  margin-bottom: 35px;
}

.advantages__description {
  text-align: center;
  margin: 0;
  padding: 0 20px;

  // paragraph overflow
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.advantages__list {
  padding: 0;
}
