@use "./base/mixins.scss";
@use "./base/var.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 20px;
}

.footer__hashtag-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  max-width: 200px;
}

.footer__hashtag {
  display: flex;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var.$hashtag-color;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }

  &:focus-visible {
    outline: 2px solid var.$base-color;
    outline-offset: 2px;
  }

  // paragraph overflow
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.footer__social-list {
  margin-bottom: 28px;
}

.footer__developer-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__developer-link {
  margin-left: auto;
  text-decoration: none;
  text-transform: uppercase;
  color: var.$base-title-color;
  padding: 10px 40px 10px 0;
  background: url("../../img/icons/htmlacademy.svg") no-repeat right center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }

  &:focus-visible {
    outline: 2px solid var.$base-color;
    outline-offset: 2px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 640px) {
  .footer {
    padding: 36px 60px;
  }
}


@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 264px 1fr;
  }

  .footer__hashtag-wrapper {
    margin: 0;
  }

  .footer__social-list {
    margin: 0 auto;
  }

  .footer__developer-link {
    justify-content: flex-end;
  }
}

@media (min-width: 1080px) {
  .footer {
    padding: 36px 120px;
  }
}
