@use "./base/var.scss";
@use "./base/mixins.scss";

.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  margin-bottom: 56px;
  padding: 0 20px;

  &--devider {
    border-bottom: 1px solid var.$bg-gray;
    margin-bottom: 25px;
    padding-bottom: 39px;
  }

  &--contact {
    padding-bottom: 33px;
  }

  &--impression {
    padding-bottom: 26px;
  }

  &--attractions {
    padding-bottom: 26px;
  }
}

.form__legend {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

.form__group--impression .form__legend,
.form__group--attractions .form__legend {
  margin-bottom: 22px;
}

.form__group--impression .form__item,
.form__group--attractions .form__item {
  &:not(:last-child) {
    margin-bottom: 21px;
  }
}

.form__legend-text {
  margin: 0;
  max-width: 350px;
}

.form__list {
  @include mixins.list-reset;
}

.form__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form__label {
  position: relative;
  text-transform: uppercase;

  &--name,
  &--contact {
    padding-left: 16px;
  }
}

.form__control-input[type="radio"] ~ .form__label {
  cursor: pointer;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  padding: 10px 0 10px 62px;
}

.form__control-input[type="radio"] ~ .form__label::before {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var.$input-bg-color;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.form__control-input[type="radio"]:checked ~ .form__label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var.$input-checked-color;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.form__control-input[type="checkbox"] ~ .form__label {
  cursor: pointer;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  padding: 10px 0 10px 62px;
}

.form__control-input[type="checkbox"] ~ .form__label::before {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: var.$input-bg-color;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form__control-input[type="checkbox"]:checked ~ .form__label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  left: 12px;
  top: 10px;
  background: url("../img/stack.svg#tick") no-repeat;
}

// hover

.form__item:hover .form__label::before {
  background-color: var.$input-bg-color--hover;
}

// focus

.form__control-input:focus-visible ~ .form__label::before {
  outline: 2px solid var.$base-color;
}

// disabled

.form__control-input:disabled ~ .form__label::before {
  background-color: var.$input-bg-color--disabled;
}

.form__control-input[type="radio"]:checked:disabled ~ .form__label::after {
  background-color: var.$input-bg-color--radio-ckecked-disabled;
}

.form__control-input[type="checkbox"]:checked:disabled ~ .form__label::after {
  background: url("../img/stack.svg#tick-disabled");
}

.form__textarea {
  min-height: 150px;
  min-width: 100%;
  max-width: min-content;
  align-self: center;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form__button {
  padding: 16px;
}

.form__attention {
  font-size: 12px;
  text-transform: uppercase;
  align-self: flex-end;
}

@media (min-width: 640px) {
  .form {
    display: flex;
    padding: 0 30px;
  }

  .form__fieldset-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 63px;
  }

  .form__group {
    position: relative;
    padding: 0;

    &--devider {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &--name {
      padding-right: 30px;
    }

    &--name::before {
      content: "";
      position: absolute;
      width: 1px;
      height: calc(100% + 70px);
      top: -62px;
      right: 0;
      background-color: var.$form-border-color;
    }

    &--contact {
      padding-left: 30px;
    }

    &--impression {
      margin-bottom: 52px;
    }

    &--attractions {
      margin-bottom: 45px;
    }

    &--emotions {
      margin-bottom: 48px;
    }
  }

  .form__group--impression .form__item,
  .form__group--attractions .form__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .form__group--impression .form__list {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    row-gap: 20px;
    column-gap: 16px;
    align-self: center;
  }

  .form__group--attractions .form__list {
    display: grid;
    grid-template-columns: repeat(2, 224px);
    row-gap: 22px;
    column-gap: 32px;
    align-self: center;
  }

  .form__legend {
    font-size: 21px;
    width: 100%;
    position: relative;
    margin-bottom: 28px;
  }

  .form__group--impression .form__legend,
  .form__group--attractions .form__legend,
  .form__group--emotions .form__legend {
    padding: 0 143px;
    margin-bottom: 30px;
  }

  .form__group--emotions .form__legend {
    padding: 0 143px;
    margin-bottom: 27px;
  }

  .form__group--impression .form__legend::before,
  .form__group--impression .form__legend::after,
  .form__group--attractions .form__legend::before,
  .form__group--attractions .form__legend::after,
  .form__group--emotions .form__legend::before,
  .form__group--emotions .form__legend::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: var.$form-border-color;
    top: 50%;
  }

  .form__group--impression .form__legend::before,
  .form__group--attractions .form__legend::before,
  .form__group--emotions .form__legend::before {
    left: 0;
  }

  .form__group--impression .form__legend::after,
  .form__group--attractions .form__legend::after,
  .form__group--emotions .form__legend::after {
    right: 0;
  }

  .form__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .form__textarea {
    min-height: 160px;
  }

  .form__attention {
    padding-top: 9px;
    font-size: 14px;
    align-self: center;
  }

  .form__button {
    width: 324px;
  }
}


@media (min-width: 640px) {
  .form {
    padding: 0 60px;
  }

  .form__group {
    &--name {
      padding-right: 28px;
    }

    &--contact {
      padding-left: 28px;
    }
  }
}

@media (min-width: 980px) {
  .form {
    padding: 0 120px;
  }

  .form__fieldset-wrapper {
    margin-bottom: 71px;
  }

  .form__group {
    &--name {
      padding-right: 50px;
    }

    &--contact {
      padding-left: 50px;
    }

    &--impression {
      margin-bottom: 76px;
    }

    &--attractions {
      margin-bottom: 90px;
    }

    &--impression .form__legend {
      margin-bottom: 47px;
    }

    &--attractions .form__legend {
      margin-bottom: 62px;
    }
  }

  .form__group--impression .form__list {
    grid-template-columns: repeat(3, auto);
    gap: 64px;
  }

  .form__group--attractions .form__list {
    grid-template-columns: repeat(4, auto);
    gap: 64px;
  }

  .form__textarea {
    min-width: 768px;
  }

  .form__button-wrapper {
    padding: 0 96px;
  }

  .form__button {
    width: 384px;
  }
}
