@use "./base/var.scss";
@use "./base/mixins.scss";

.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  margin-bottom: 56px;
  padding: 0 20px;

  &--devider {
    border-bottom: 1px solid var.$bg-gray;
    margin-bottom: 39px;
    padding-bottom: 39px;
  }
}

.form__legend {
  text-align: center;
  margin-bottom: 20px;
}

.form__legend-text {
  margin: 0;
  max-width: 320px;
}

.form__list {
  @include mixins.list-reset;
}

.form__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form__label {
  position: relative;
  text-transform: uppercase;

  &--name,
  &--tel {
    padding-left: 16px;
  }
}

.form__control-input[type="radio"] ~ .form__label {
  cursor: pointer;
  padding: 10px 10px 10px 62px;
}

.form__control-input[type="radio"] ~ .form__label::before {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var.$input-bg-color;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form__control-input[type="radio"]:checked ~ .form__label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var.$input-checked-color;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.form__control-input[type="checkbox"] ~ .form__label {
  cursor: pointer;
  padding: 10px 10px 10px 62px;
}

.form__control-input[type="checkbox"] ~ .form__label::before {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: var.$input-bg-color;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form__control-input[type="checkbox"]:checked ~ .form__label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  left: 12px;
  top: 15px;
  background: url("../../img/icons/tick.svg") no-repeat 50% 50%;
}

.form__textarea {
  min-height: 160px;
  min-width: 100%;
  max-width: min-content;
  align-self: center;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form__button {
  padding: 16px;
}

.fotm__attention {
  align-self: flex-end;
}

@media (min-width: 640px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    padding: 0 30px;
  }

  .form__group {
    padding: 0;
    margin-bottom: 0;

    &--name {
      border-right: 1px solid var.$bg-gray;
      padding-right: 30px;
    }

    &--tel {
      padding-left: 30px;
    }

    &--impression,
    &--attractions,
    &--emotions {
      grid-column: 1/3;
    }

    &--devider {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .form__legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 28px;
  }

  .form__group--impression .form__legend::before,
  .form__group--impression .form__legend::after,
  .form__group--attractions .form__legend::before,
  .form__group--attractions .form__legend::after,
  .form__group--emotions .form__legend::before,
  .form__group--emotions .form__legend::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: var.$bg-gray;
    top: 50%;
  }

  .form__group--impression .form__legend::before,
  .form__group--attractions .form__legend::before,
  .form__group--emotions .form__legend::before {
    left: 0;
  }

  .form__group--impression .form__legend::after,
  .form__group--attractions .form__legend::after,
  .form__group--emotions .form__legend::after {
    right: 0;
  }

  .form__button-wrapper {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .form__button {
    width: 324px;
  }
}

@media (min-width: 670px) {
  .form__group--impression .form__list {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 16px;
    align-self: center;
  }

  .form__group--attractions .form__list {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    row-gap: 16px;
    column-gap: 32px;
    align-self: center;
  }
}


@media (min-width: 768px) {
  .form {
    padding: 0 60px;
  }

  .form__group {
    &--name {
      padding-right: 43px;
    }

    &--tel {
      padding-left: 43px;
    }
  }
}

@media (min-width: 1080px) {
  .form {
    padding: 0 120px;
  }

  .form__group--impression .form__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .form__group--attractions .form__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .form__textarea {
    min-width: 768px;
  }
}
