@use "./base/var.scss";

.input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var.$input-text-color;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: var.$input-bg-color;

  &--phone {
    padding-right: 74px;
    background: var.$input-bg-color url("../../img/icons/phone.svg") no-repeat top 50% right;
  }

  &--mail {
    padding-right: 74px;
    background: var.$input-bg-color url("../../img/icons/mail.svg") no-repeat top 50% right;
  }

  &:hover {
    box-shadow: 0 0 0 2px var.$input-bg-color--hover inset;
    background-color: var.$input-bg-color--hover;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var.$input-bg-color--hover inset;
    background-color: var.$input-bg-color--active;
  }

  &::placeholder {
    color: var.$input-text-color;
    opacity: 0.3;
  }
}
