@use "./base/var.scss";
@use "./base/mixins.scss";

.main-header__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 158px;
  background: url("../../img/hero-devider.svg"), url("../../img/bg-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-color: var.$color-without-img;
  background-position: center bottom;
  margin-bottom: 30px;
}

.main-header__img {
  display: block;
}

.main-header__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 44px;
  margin-bottom: 24px;
  border-bottom: 1px solid var.$bg-gray;
}

.main-header__title {
  text-align: center;
  margin-bottom: 25px;
}

.main-header__description {
  text-align: center;
  padding: 0 20px;
  max-width: 458px;
}

@media (min-width: 640px) {
  .main-header__img-wrapper {
    min-height: 290px;
    margin-bottom: 66px;
  }

  .main-header__img {
    width: 456px;
  }

  .main-header__title {
    font-size: 30px;
    line-height: 26px;
  }

  .main-header__description {
    padding: 0;
  }

  .main-header__content-wrapper {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
  }
}
