@use "./base/mixins.scss";
@use "./base/var.scss";

.menu {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}

// burger button (open)
.menu__button {
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  align-self: flex-end;
  width: 23px;
  height: 22px;
  border: none;
  padding: 0;
  background-color: transparent;

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var.$base-color;
  }
}

.menu__button::before {
  bottom: 0;
}

.menu__button::after {
  top: 0;
}

.menu__button-icon {
  transition: all 0.3s ease;

  &::before {
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var.$base-color;
  }
}

.menu__button:hover .menu__button-icon::before,
.menu__button:hover::before,
.menu__button:hover::after {
  background-color: var.$base-color--hover;
}

.menu__button:active .menu__button-icon::before,
.menu__button:active::before,
.menu__button:active::after {
  background-color: var.$base-color--hover;
}

// burger button (close)
.menu--active .menu__button .menu__button-icon::before {
  transform: scale(0);
}

.menu--active .menu__button {
  &::before {
    transform: rotate(45deg);
    bottom: 9px;
    background-color: var.$burger-color-close;
  }

  &::after {
    transform: rotate(-45deg);
    top: 9px;
    background-color: var.$burger-color-close;
  }
}

.menu__button--active:hover::before,
.menu__button--active:hover::after,
.menu__button--active:active::before,
.menu__button--active:active::after {
  background-color: var.$burger-color-close;
}

.menu__button--active:hover {
  opacity: 0.6;
}

.menu__button--active:active {
  opacity: 0.3;
}

.menu--nojs .menu__button {
  display: none;
}

// menu
.menu__list {
  @include mixins.list-reset;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
}

.menu--nojs .menu__list {
  position: static;
  display: flex;
}

.menu--active .menu__list {
  display: flex;
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var.$menu-mobile-text-color;
  padding: 17px 0 12px;
  background-color: var.$base-color;
  transition: all 0.5s ease;

  // light
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 0;
    background: lighten($color: var.$base-color, $amount: 6);
  }

  // shadow
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    background: darken($color: var.$base-color, $amount: 11);
  }

  &:hover,
  &:active {
    background-color: var.$base-color--hover;

    // light over the button
    &::before {
      box-shadow: 0 -1px 0 0 lighten($color: var.$base-color, $amount: 10);
      background-color: darken($color: var.$base-color, $amount: 20);
    }
  }

  &:active {
    background-color: var.$base-color--active;
  }
}

.menu__link[aria-current="page"] {
  color: rgba(255, 255, 255, 0.3);

  &:hover {
    cursor: default;
    background-color: var.$base-color;
  }

  &:hover::before {
    box-shadow: none;
    background: lighten($color: var.$base-color, $amount: 6);
  }
}

// shadow at the end of menu items
.menu__item:last-child .menu__link {
  box-shadow: inset 0 -20px 8px -17px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .menu__button--active,
  .menu__button {
    display: none;
  }

  .menu__list {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .menu__item {
    min-width: 20%;

    &:nth-child(2),
    &:nth-child(6) {
      margin-right: 20%;
    }

    &:last-child .menu__link {
      box-shadow: none;
    }
  }

  .menu__link {
    font-size: 14px;
    display: flex;
    padding: 15px 0 16px 0;
    color: #000000;
    border: 2px solid transparent;
    background-color: transparent;

    &::after,
    &::before {
      display: none;
    }

    &:hover {
      color: var.$base-color;
      background-color: transparent;
    }

    &:focus-visible {
      color: var.$base-color;
      outline: none;
      border-bottom: 2px solid var.$base-color;
    }

    &:active {
      color: var.$menu-text-color--active;
    }
  }

  .menu__link[aria-current="page"] {
    color: var.$menu-text-color--current;

    &:hover {
      cursor: default;
      background-color: transparent;
    }
  }
}
