@use "./base/var.scss";

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
}

.offer__title {
  font-size: 21px;
  text-align: center;
  // padding: 0 20px;
  margin-bottom: 20px;
}

.offer__description {
  text-align: center;
  max-width: 475px;

  // paragraph overflow
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.offer__button {
  width: 100%;
  max-width: 458px;
  padding: 16px 20px;
}

@media (min-width: 768px) {
  .offer__title {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .offer__text-wrapper {
    margin-bottom: 45px;
  }
}
