@use "./base/mixins.scss";
@use "./base/var.scss";

.social {
  @include mixins.list-reset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  gap: 6px;
  max-width: 264px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;

  &--vk {
    background-image: url("../img/stack.svg#vk");
  }

  &--telegram {
    background-image: url("../img/stack.svg#telegram");
  }

  &--youtube {
    background-image: url("../img/stack.svg#youtube");
  }
}
