@use "./base/var.scss";

.title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: var.$base-title-color;
}
