// color-blue
$base-color: #81b3d2;
$base-color--hover: #669ec0;
$base-color--active: #5496bd;
$base-color--menu-disaled: rgba(0, 0, 0, 0.3);
$base-title-color: #000000;
$hashtag-color: #000000;
$base-text-color: #333333;
$light-text-color: #ffffff;
$menu-text-color--current: #766357;
$menu-text-color--active: rgba(0, 0, 0, 0.3);
$menu-mobile-text-color: #ffffff;
$base-bg-color: #ffffff;
$border-color: #e5e5e5;
$bg-gray: #eeeeee;
$form-border-color: #eeeeee;
$color-without-img: #1c4055;
$burger-color-close: #ffffff;
$button-text-color: #ffffff;
$button-disabled: #e5e5e5;
$input-bg-color: #f2f2f2;
$input-bg-color-icon: #e6e6e6;
$input-bg-color--hover: #e5e5e5;
$input-bg-color--active: #ffffff;
$input-bg-color--disabled: #d5d5d5;
$input-bg-color--radio-ckecked-disabled: rgba(0, 0, 0, 0.3);
$input-text-color: #000000;
$input-checked-color: #333333;
$like-text-color: #000000;
